<div class = "addedmeeting">
  <h2>New meeting added</h2>
  <p>Company: <%= @meeting.company_name %></p>
  <p>Position: <%= @meeting.position %></p>
  <p>Description: <%= @meeting.description %> </p>
  <p>Company address: <%= @meeting.company_address %></p>
  <p>City: <%= @meeting.city %></p>
  <p>Interview #: <%= @meeting.interview_num %></p>
</div>

<button class= "return"><a href="/">Return to profile page</a></button>
