
<div class = "content">
  <div class = "job-seeker-info">
    <img src="<%=@job_seeker.img_url %>">
    <h1>Welcome back, <span class="name"><%= @job_seeker.name %></span></h1>
    <h2>field: <%= @job_seeker.field %> , career-level: <%= @job_seeker.career_level %> , address: <%= @job_seeker.address %> , city/town: <%= @job_seeker.city%></h2>
    <button>edit</button>

    <button id= "to-meeting-form"><a href= "/meetings/new">Add a meeting</a></button>


    <span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a
    href="http://www.indeed.com/" title="Job Search"><img
    src="http://www.indeed.com/p/jobsearch.gif" style="border: 0;
    vertical-align: middle;" alt="Indeed job search"></a></span>
  </div>
</div>
