
<div class = "center-div">
  <div class = "job-seeker-info">
    <img src="<% @job_seeker.img_url %>">
    <h1>Welcome back, <span class="name"><%= @job_seeker.name %></span></h1>
    <h2>field: <%= @job_seeker.field %> , career-level: <%= @job_seeker.career_level %> , address: <%= @job_seeker.address %> , city/town: <%= @job_seeker.city%></h2>
    <button>edit</button>
  </div>

  <div class="next-int">
    <h2>Your next Interview is on: <%= @meeting.date %> at <%= @meeting.time %></h2>

    <p>It is with
    <%= @meeting.interviewer.name %> and you are interviewing for the
    <%= @meeting.interviewer.position %> at <% @meeting.company_name %>
    </p>
  </div>

  <div class="contact-info"><p>Contact Information/Interview address</p></div>

  <div class="contact-info-content">
    <ul>
      <li>Person of Contact: <%= @meeting.interviewer.poc %></li>
      <li>Phone #: <%= @meeting.interviewer.phone %></li>
      <li>Company address: <%= @meeting.company_address %></li>
      <li>Thoughts to remember: <%= @meeting.interviewer.notes %></li>
      <li>This is interview: # <%= @meeting.interview_num %></li>
    </ul>
  </div>

  <div class="other-meetings">
    <h2>Other Meetings</h2>
    <% @meetings.each do |meeting| %>
      <p><%= meeting.date %> at <% meeting.time %>
      <p>Position:<%= meeting.position %></p>
      <p>Description:<%= meeting.description %></p>
      <p>Interview #:<%= meeting.interview_num %></p>
    </br>
      <p>Company Name:<%= meeting.company_name %></p>
      <p>Company Address:<%= meeting.company_address%></p>
      <p>City:<%= meeting.city%></p>
        <div class="meeting-interviewers">
          <% @interviewer.each do |interviewer| %>
           <p><u>Interviewer</u>: <%= interviewer.name %></p>
           <p>Position:<%= interviewer.position %></p>
           <p>Phone #:<%= interviewer.phone %></p>
           <p>Person of Contact:<%= interviewer.poc %></p>
           <p>Notes:<%= interviewer.notes%></p>
          <% end %>
        </div>
          <button class = "addinterviewers">Add interviewer</button>

          <div class = "interviewerform">
            <%= form_for @meeting.interviewer do |f| %>

              <div class = "spacer">
                <%= f.label :name %>
                <%= f.text_field :name %>
              </div>

              <div class = "spacer">
                <%= f.label :position %>
                <%= f.text_field :position %>
              </div>

              <div class = "spacer">
                <%= f.label :phone %>
                <%= f.text_field :phone %>
              </div>

              <div class = "spacer">
                <%= f.label :poc %>
                <%= f.text_field :poc %>
              </div>

              <div class = "spacer">
                <%= f.label :notes %>
                <%= f.text_field :notes%>
              </div>

              <div class = "spacer">
              <%= f.submit %>
              </div>

            <% end %>
          </div>
    <% end %>
  </div>

  <button class = "addmeetings">Add meeting</button>

    <div class = "meetingform">
      <%= form_for @meeting do |f| %>

        <div class = "spacer">
        <%= f.label :date %>
        <%= f.text_field :date %>
        </div>

        <div class = "spacer">
        <%= f.label :time %>
        <%= f.text_field :time %>
        </div>

        <div class = "spacer">
        <%= f.label :position %>
        <%= f.text_field :position %>
        </div>

        <div class = "spacer">
        <%= f.label :description %>
        <%= f.text_field :description %>
        </div>

        <div class = "spacer">
        <%= f.label :inteview_num %>
        <%= f.text_field :interview_num %>
        </div>

        <div class = "spacer">
        <%= f.label :city %>
        <%= f.text_field :city %>
        </div>

        <div class = "spacer">
        <%= f.label :company_name %>
        <%= f.text_field :company_name %>
        </div>

        <div class = "spacer">
        <%= f.label :company_address %>
        <%= f.text_field :company_address %>
        </div>

        <div class = "spacer">
        <%= f.submit %>
        </div>

      <% end %>

    </div>

</div>
