
<div class = "center-div">
  <div class = "job-seeker-info">
    <img src="<% @job_seeker.img_url %>">
    <h1>Welcome back, <span class="name"><%= @job_seeker.name %></span></h1>
    <h2>field: <%= @job_seeker.field %> , career-level: <%= @job_seeker.career_level %> , address: <%= @job_seeker.address %> , city/town: <%= @job_seeker.city%></h2>
    <button>edit</button>
  </div>
</div>
