<!DOCTYPE html>
<html>
<head>
  <title>InterviewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>LandIt</h1>
  <p>Structure for the chaos that is your job search</p>
  <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>

<%= yield %>

</body>
</html>
